.card {
  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.cardItems {
  @include mq(tablet) {
    flex: 0 0 50%;
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.amount {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: rem(0 0 16 0);
}

.imageCard {
  max-width: rem(375);

  @include mq(tablet) {
    margin-right: rem(16);
  }

  @include mq(desktop) {
    margin-right: 0;
  }
}

.image {
  border-radius: rem(16);
}

.title {
  @extend %h2;

  margin: rem(16 0 8 0);

  @include mq(tablet) {
    margin: rem(0 0 8 0);
  }
}

.subtitle {
  @extend %small;

  color: var(--purpleHaze);
  margin: rem(0 0 8 0);
}

.price {
  @extend %h4;

  margin: rem(30 0 0 0);
}

.section {
  padding: rem(16 0 0 0);
}

.sectionLight {
  background-color: var(--hemocyanin);
  margin: rem(0 -16);
  padding: rem(16);

  @include mq(tablet) {
    margin: 0;
    padding: rem(16);
  }
}

.descriptionContent {
  @extend %small;
}

.sectionTitle {
  @extend %h4;

  margin: rem(0 0 16 0);
}

.item {
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }
}

.details {
  @extend %small;

  flex: 1 0 50%;
}

.button {
  @include Button;

  margin-bottom: rem(16);
  min-height: rem(46);
  overflow: hidden;
  position: relative;
}

.buttonLabel {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 100%;

  .button.isAdded & {
    color: transparent;
    transform: translateX(-100%);
  }
}

.buttonIcon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
  transition: all 0.5s ease-in-out;
  width: 100%;

  .button.isAdded & {
    transform: translateX(-50%) translateY(-50%);
  }
}
