@use 'sass:list';

$base-font-size: 16;

/// Converts pixel to rem values
/// @param {Number} $values - Number whe want to convert
/// @param {Number} $base-value - body font-size, by default -> $base-font-size: 16;
/// @return {Number} - number

@function convert-to-rem($value, $base-value: $base-font-size) {
  $value: calc($value / $base-value * 1rem);

  @return $value;
}

/// Returns a list of pixel values converted to rem
/// @param {Number} $values - Number whe want to convert
/// @param {Number} $base-value - body font-size, by default -> $base-font-size: 16;
/// @return {Number} - number

@function rem($values, $base-value: $base-font-size) {
  $max: list.length($values);

  @if $max == 1 {
    @return convert-to-rem(nth($values, 1), $base-value);
  }

  $rem-values: ();

  @for $i from 1 through $max {
    $rem-values: list.append($rem-values, convert-to-rem(list.nth($values, $i), $base-value));
  }

  @return $rem-values;
}
