%h1 {
  font-size: rem(28);
  font-weight: 700;
  line-height: 1.5;

  @include mq(desktop) {
    font-size: rem(48);
    font-weight: 700;
    line-height: 1.5;
  }
}

%h2 {
  font-size: rem(33);
  font-weight: 700;
  line-height: 1.5;

  @include mq(desktop) {
    font-size: rem(40);
    font-weight: 700;
    line-height: 1.5;
  }
}

%h3 {
  font-size: rem(24);
  font-weight: 700;
  line-height: 1.5;

  @include mq(desktop) {
    font-size: rem(28);
    font-weight: 700;
    line-height: 1.5;
  }
}

%p {
  font-size: rem(16);
  line-height: 1.2;
}

%small {
  font-size: rem(13);
  font-weight: 400;
  line-height: 1;
}

%link {
  color: var(--lightSky);
  text-decoration: underline;

  &:hover {
    color: var(--lightSky);
  }
}
