$grid-width: rem(1140);

@mixin Button($size: "normal", $disabled: false) {
  @if $size == "small" {
    border-radius: rem(9);
    font-size: rem(14);
    min-height: rem(30);
    min-width: rem(30);
    padding: 0;
  } @else {
    border-radius: rem(12);
    font-size: rem(14);
    padding: rem(16 20);
  }

  background-color: var(--sohoLights);
  border: 0;
  color: var(--hemocyanin);
  font-weight: 400;
  line-height: 1;

  &:hover {
    background-color: var(--sohoLights-light);
    transition: 0.2 all;
  }

  &:disabled {
    background-color: var(--plum);
    color: var(--purpleHaze);
    pointer-events: none;
  }
}
