@import "node_modules/normalize.css/normalize";

/* Octopus Energy brand colours used in the design */
:root {
  --hemocyanin: #180048;
  --ice: #f0ffff;
  --plum: #600e6b;
  --purpleHaze: #a49fc8;
  --siphon: #100030;
  --sohoLights: #f050f8;
  --voltage: #60f0f8;
}

html,
body {
  color: var(--ice);
  font-family: Gotham, helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: var(--hemocyanin);
}

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
