.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  z-index: 100;
}

.content {
  margin: 0 auto;
  max-width: $grid-width;
  padding: rem(16);
  width: 100%;

  @include mq(desktop) {
    margin: rem(24) auto rem(24) auto;
  }
}
